/* ── Add Shortcut Modal ── */
.add-shortcutpanel-wrapper {
     position: fixed;
     inset: 0;
     background: rgba(0, 0, 0, 0.6);
     backdrop-filter: blur(8px);
     -webkit-backdrop-filter: blur(8px);
     z-index: 200;
     animation: fadeIn var(--transition) ease;
}

@keyframes fadeIn {
     from {
          opacity: 0;
     }

     to {
          opacity: 1;
     }
}

.add-shortcutpanel-container {
     background: var(--bg);
     border: 1px solid var(--border2);
     border-radius: var(--radius-lg);
     padding: 24px;
     width: 340px;
     backdrop-filter: blur(20px);
     animation: scaleIn 0.3s ease;
}

@keyframes scaleIn {
     from {
          opacity: 0;
          transform: scale(0.95) translateY(8px);
     }

     to {
          opacity: 1;
          transform: scale(1) translateY(0);
     }
}

.add-shortcutpanel-head {
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin-bottom: 20px;
}

.add-shortcutpanel-title {
     font-size: 0.90rem;
     font-weight: 700;
     color: var(--black-text);
     letter-spacing: 0.5px;
}

.add-shortcutpanel-close {
     width: 35px;
     height: 35px;
     background-color: var(--bg);
     border: none;
     border-radius: var(--radius-sm);
     color: var(--black-text);
     display: flex;
     align-items: center;
     justify-content: center;
     transition: all var(--transition);
}

.add-shortcutpanel-close:hover {
     background: rgba(239, 68, 68, 0.1);
     border: 1px solid rgba(250, 18, 18, 0.644);
     color: #ef4444;
     transform: rotate(90deg);
}

.add-shortcutpanel-body {
     display: flex;
     flex-direction: column;
     gap: 10px;
}

.add-shortcutpanel-input {
     width: 100%;
     background: var(--light-bg);
     border: 1px solid var(--border);
     border-radius: 16px;
     padding: 14px;
     color: var(--black-text);
     font-size: 0.85rem;
     font-weight: 600;
     font-family: var(--gm-font);
     outline: none;
     transition: all var(--transition);
}
.add-shortcutpanel-input:focus{
     box-shadow: 0px 0px 0px 2px var(--dark-bg);
}

.add-shortcutpanel-submit {
     width: 100%;
     padding: 11px;
     background: var(--dark-bg);
     border: none;
     border-radius: var(--radius-sm);
     color: var(--light-bg);
     font-size: 0.90rem;
     font-family: var(--main-font);
     font-weight: 500;
     margin-top: 10px;
     transition: all 0.2s;
}

.add-shortcutpanel-submit:hover {
     background-color: var(--light-bg);
     color: var(--dark-bg);
     box-shadow: 0px 0px 0px 2px var(--dark-bg);
}

.add-shortcutpanel-submit:active {
     transform: scale(0.90);
}
