.root {
     height: 100vh;
     display: grid;
     grid-template-rows: 60px 1fr 52px;
     background: var(--bg);
     /*Use this to add background images */
     color: var(--white-text);
     font-family: var(--main-font);
     font-weight: 300;
     overflow: hidden;
     position: relative;
     z-index: 1;
}

/* Animated purplish floating glow effect */
/* .root::before,
.root::after {
     content: '';
     position: absolute;
     border-radius: 50%;
     filter: blur(100px);
     z-index: -1;
     animation: float 20s infinite ease-in-out alternate;
}

.root::before {
     top: -10%;
     left: -10%;
     width: 50vw;
     height: 50vw;
     Use a good glow effect here using css variables
}

.root::after {
     bottom: -20%;
     right: -10%;
     width: 60vw;
     height: 60vw;
     Use a good glow effect here using css variables
     animation-delay: -10s;
} */

@keyframes float {
     0% {
          transform: translate(0, 0) scale(1);
     }

     50% {
          transform: translate(5%, 5%) scale(1.1);
     }

     100% {
          transform: translate(-5%, -5%) scale(0.9);
     }
}

/* ── Main body navbar ── */
.main-nav {
     justify-content: space-between;
     padding: 30px 40px;
     z-index: 10;
     height: fit-content;
}

.nav-left,
.nav-right {
     gap: 12px
}

.icon-btn {
     display: flex;
     align-items: center;
     justify-content: center;
     width: 2.5rem;
     border:none;
     height: 2.5rem;
     background: var(--light-blue);
     border-radius: var(--radius-sm);
     color: var(--dark-blue);
     transition: all var(--transition);
}

.icon-btn:hover {
     border-color: var(--border2);
     color: var(--white-text);
     background: var(--light-blue);
     transform: translateY(-1px);
}

/* ----GOOGLE SEARCH INPUT---- */
/* .search-wrapper {
     display: flex;
     align-items: center;
     gap: 8px;
     border: none;
     outline: none;
     border: 1px solid var(--border);
     border-radius: var(--radius-full);
     padding: 9px 10px;
     height: 36px;
     transition: border-color var(--transition), box-shadow var(--transition);
}

.search-wrapper:focus-within {
     border-color: var(--dark-blue);
}

.search-icon {
     color: var(--white-text);
     flex-shrink: 0;
}

.nav-search {
     background: transparent;
     outline: none;
     border: none;
     color: var(--white-text);
     font-size: 13px;
     width: 20vw;
     font-weight: 300;
}

.nav-search::placeholder {
     color: var(--white-text);
} */

/* ── BODY GRID ── */
.body-grid {
     display: flex;
}

/* ── LEFT PANE ── */
.center-block {
     width: 100%;
     height: 100%;
     flex-direction: column;
     padding: 0 80px;
     gap: 56px;
     border-right: 1px solid rgba(255, 255, 255, 0.05);
}
.clock-block {
     flex-direction: column;
     gap: 8px;
}

.greeting-text {
     font-family: var(--plus-jakarta-font);
     font-size: 22px;
     color: var(--dark-blue);
     font-weight: 600;
     letter-spacing: 4px;
     text-transform: uppercase;
}

.time-display {
     line-height: 1;
}

.time-hm {
     font-family: var(--gm-font);
     font-size: clamp(80px, 12vw, 130px);
     font-weight: 500;
     color: var(--white-text);
     letter-spacing: -6px;
}

.colon {
     opacity: 0.3;
     animation: blink 2s ease-in-out infinite;
}

@keyframes blink {

     0%,
     100% {
          opacity: 0.4
     }

     50% {
          opacity: 0.1
     }
}

.date-text {
     font-family: var(--gm-font);
     font-size: 19px;
     color: var(--white-text);
     letter-spacing: 1px;
     margin-top: 4px;
}

.search-block {
     display: flex;
     flex-direction: column;
     gap: 14px;
}

.big-search-bar {
     background-color: var(--light-blue);
     backdrop-filter: blur(var(--glass-blur));
     -webkit-backdrop-filter: blur(var(--glass-blur));
     border-radius: var(--radius-full);
     padding: 0 10px 0 24px;
     height: 56px;
     transition: all var(--transition);
}
.big-search-bar:focus-within{
     box-shadow: 0px 0px 0px 2px var(--dark-blue);
}


.big-search-input {
     caret-color: var(--dark-blue);
     caret-shape: line;
     accent-color: var(--dark-blue);
     flex: 1;
     background: transparent;
     border: none;
     outline: none;
     color: var(--black-text);
     font-size: 18px;
     font-family: var(--gm-font);
     font-weight: 400;
}

.big-search-input::placeholder {
     color: var(--black-text);
}

.big-search-btn {
     width: 40px;
     height: 40px;
     border-radius: 50%;
     background: var(--dark-blue);
     border: none;
     color: var(--white-text);
     display: flex;
     align-items: center;
     justify-content: center;
     flex-shrink: 0;
     transition: all var(--transition);
}

.big-search-btn:hover svg {
     transition: transform var(--transition);
}

.big-search-btn:hover {
     transform: translateX(2px);
}

.big-search-btn:hover svg {
     transform: translateX(3px);
}

/* Search block */
.engine-tabs {
     width: 30em;
     display: flex;
     gap: 10px;
     flex-wrap: wrap;
     padding-left: 8px;
}

.engine-tab {
     padding: 6px 16px;
     border-radius: var(--radius-full);
     border: 2px solid var(--light-blue);
     background: var(--light-blue);
     backdrop-filter: blur(4px);
     color: var();
     font-size: 12px;
     font-family: var(--main-font);
     font-weight: 500;
     transition: all var(--transition);
}

.engine-tab:hover {
     border-color: var(--dark-blue);
     color: var(--dark-blue);
     background: var(--light-blue);
     transform: translateY(-2px);
     box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5);
}

.engine-tab.search-opt-btn-active {
     border-color: var(--dark-blue);
     color: var(--white-text);
     background-color: var(--dark-blue);
}


.right-card {
     background: var(--dark-blue);
     backdrop-filter: blur(var(--glass-blur));
     -webkit-backdrop-filter: blur(var(--glass-blur));
     border: 1px solid var(--border);
     border-radius: var(--radius-md);
     padding: 20px;
     transition: all var(--transition);
     box-shadow: 0 4px 24px rgba(0, 0, 0, 0.2);
}

.right-card:hover {
     border-color: var(--border2);
     background: var(--light-blue);
     transform: translateY(-2px);
     box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
}

.card-label {
     font-size: 10px;
     letter-spacing: 2px;
     text-transform: uppercase;
     color: var(--white-text);
     font-weight: 500;
     margin-bottom: 12px;
     font-family: var(--plus-jakarta-font);
}

/* ── FOOTER ── */
.main-footer {
     display: grid;
     grid-template-columns: auto 1fr auto;
     align-items: center;
     gap: 16px;
     padding: 0px 35px;
     overflow: hidden;
     z-index: 10;
}

.ai-tools {
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 5px;
     overflow-x: auto;
     scrollbar-width: none;
     padding: 4px 0;
}

.ai-tools::-webkit-scrollbar {
     display: none;
}

.ai-btn {
     display: flex;
     align-items: center;
     gap: 5px;
     padding: 0.8em 2.0em;
     font-family: var(--main-font);
     font-size: 0.7rem;
     border: 1px solid var(--border);
     background-color: transparent;
     border-radius: 100px;
     color: var(--white-text);
     transition: all var(--transition);
     white-space: nowrap;
     flex-shrink: 0;
}

.ai-btn:hover {
     background: var(--light-blue);
     border-color: var(--dark-blue);
}

.ai-btn img {
     width: 15px;
     height: 15px;
     flex-shrink: 0;
     border-radius: 50%;
}

.footer-btn {
     width: fit-content;
     height: fit-content;
     padding: 10px;
     gap: 6px;
     flex-shrink: 0;
     border-radius: var(--radius-full);
}

.footer-btn svg {
     transition: all var(--transition);

}

.footer-btn:hover svg {
     transform: rotate(180deg);
}
/* ── Shortcuts panels ── */
.shortcuts-panel {
     bottom: 56px;
     animation: popUp 0.15s ease;
}

.todo-panel {
     top: 56px;
     animation: popDown 0.15s ease;
}

.shortcuts-panel {
     position: absolute;
     box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.7);
     backdrop-filter: blur(30px);
     border: 1px solid var(--border2);
     border-radius: var(--radius-lg);
     padding: 16px;
     z-index: 100;
}

@keyframes popUp {
     from {
          opacity: 0;
          transform: translateY(8px);
     }

     to {
          opacity: 1;
          transform: translateY(0);
     }
}

.shortcuts-panel {
     right: 20px;
     width: 220px;
     max-height: 350px;
}

.shortcut-list {
     overflow-y: auto;
     max-height: 260px;
}

.add-shortcut-btn {
     width: 25px;
     height: 25px;
     background: var(--dark-blue);
     border: 1px solid var(--border);
     border-radius: var(--radius-sm);
     color: var(--white-text);
     font-size: 18px;
     display: flex;
     align-items: center;
     justify-content: center;
     transition: all var(--transition);
}

.remove-shortcut-btn {
     background: transparent;
     color: var(--white-text);
     border: none;
     outline: none;
     opacity: 0;
     transition: opacity var(--transition);
}

.panel-label {
     margin-bottom: 12px;
     font-size: 10px;
     letter-spacing: 2px;
     text-transform: uppercase;
     color: var(--white-text);
     font-weight: 500;
     font-family: var(--plus-jakarta-font);
}

/* Shortcuts */
.shortcut-item {
     display: flex;
     align-items: center;
     gap: 10px;
     padding: 8px 10px;
     border-radius: var(--radius-sm);
     transition: background var(--transition);
     cursor: pointer;
}

.add-shortcut-btn:active {
     transform: scale(0.91);
}

.shortcut-item:hover button {
     opacity: 1;
}

.shortcut-item:hover {
     background: var(--light-blue);
}

.shortcut-name {
     font-size: 13px;
     color: var(--white-text);
     font-weight: 400;
}
