.error-wrapper {
     position: absolute;
     right: 0;
     left: 0;
     inset: 0;
     z-index: 200;
     background: rgba(0, 0, 0, 0.6);
     backdrop-filter: blur(8px);
     animation: fadeIn var(--transition);
}

@keyframes fadeIn {
     from {
          opacity: 0;
     }

     to {
          opacity: 1;
     }
}
.error-container {
     overflow: hidden;
     position: absolute;
     background-color: var(--bg);
     text-align: left;
     border-radius: var(--radius-lg);
     width: fit-content;
     padding: 30px;
     box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.7);
     animation: slideIn var(--transition);
}
@keyframes slideIn{
     from {
          opacity: 0;
          transform: scale(0.95) translateY(8px);
     }
     to{
          opacity: 1;
          transform: scale(1) translateY(0);
     }
}

.error-container-title{
     color: var(--white-text);
     font-family: var(---main-font);
     font-size: 2.9rem;
     font-weight: 700;
     margin-right: 20px;
     text-align: left;

}
.error-container-message{
     font-size: 0.94rem;
     max-width: 350px;
     font-weight: 500;
     line-height: 1.3;
     text-align: left;
     margin: 10px 0px;
     font-family: var(--plus-jakarta-font);
}

.error-cancel-button{
     border: 3px solid var(--bg);
     outline: none;
     background-color: var(--dark-bg);
     font-size: 1.2rem;
     width: 100%;
     margin-top: 20px;
     color: var(--white-text);
     border-radius: var(--radius-full);
     padding: 10px 30px;
     font-weight: 600;
     transition: all var(--transition);
}
.error-cancel-button:hover{
     box-shadow: 0px 0px 0px 4px var(--dark-bg);
}
