@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
     /* fonts styles */
     --main-font: "Poppins", sans-serif;
     --gm-font: "Geist Mono", monospace;
     --plus-jakarta-font: "Plus Jakarta Sans", sans-serif;
     --playfair-font: "Playfair Display", serif;

     /* --------VARIABLES CHANGEAGLE (according to user input)--------*/

     /* Premium Glassmorphic Theme Variables */
     --bg: #09090b; /*Main bg color*/

     /* Main theme variables */
     --surface: rgba(255, 255, 255, 0.03); /*for background*/
     --surface2: rgba(255, 255, 255, 0.08); /*for background:hover*/
     --border: rgba(255, 255, 255, 0.1); /*Main theme border*/
     --border2: rgba(255, 255, 255, 0.3); /*On hover border*/
     --text: #fafafa; /*Light text*/
     --muted: #cbcbd6; /*Slight grayish text*/
     --dim: var(--muted); /*change every --dim into --muted*/
     --accent: #9f5cf6; /*accent color for borders,buttons,checkboxex*/
     --accent-hover: #ac71f8; /*Should be a bit lighter then --accent always*/

     /* Vibrant Purple (two centeral glowing effects) */
     --accent-glow: rgba(139, 92, 246, 0.2);

     /* --------VARIABLES CHANGEAGLE (according to user input)--------*/


     /* Constant/more frequently used variables to keep the theme design consistent */
     /* Border radius */
     --radius-sm: 12px;
     --radius-md: 20px;
     --radius-lg: 32px;
     --radius-full: 9999px;

     /* other variables */
     --transition: 0.4s cubic-bezier(0.4, 0, 0.2, 1);
     --low-shadow: 0px 0px 7px rgba(0, 0, 0, 0.7);
     --high-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
     --glow-shadow: 0 0 20px var(--accent-glow);

     /*Used in navbar and footer*/
     --glass-blur: 24px;

     /*PENDING:- Create a categories for three svgs used in weather */
     --svg-color-1: #60a5fa;
     --svg-color-2: #f59e0b;

}

*::-webkit-scrollbar {
     display: none;
}

/* ── css reset ── */
*,
*::before,
*::after {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
}

a {
     text-decoration: none;
     color: inherit;
}

button {
     cursor: pointer;
     font-family: inherit;
}

input {
     font-family: inherit;
}
