
.switch {
     position: relative;
     display: inline-block;
     min-width: 60px;
     height: 28px;
     margin-inline-start: 8px;
}
.toggle {
     position: absolute;
     cursor: pointer;
     inset: 0;
     background-color: rgba(255, 255, 255, 0.1);
     transition: 0.4s;
     border-radius: 28px;
     direction: ltr;
     unicode-bidi: isolate;
}

.toggle::before {
     position: absolute;
     content: "";
     height: 16px;
     width: 16px;
     inset-inline-start: 9px;
     bottom: 6px;
     background-color: var(--surface);
     transition: 0.175s;
     border-radius: 50%;
}

input:checked+.toggle {
     background-color: #489c62;
}

input:checked+.toggle::before {
     inset-inline-start: 5px;
     bottom: 6px;
     transform: translateX(30px);
     background-color: #ffffff;
}
